/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
body {
  color: #444;
  font-size: 16px;
  font-family: 'Gentium Book Basic', serif;
  display: center;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #444;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #45;
}
/*-- Main Menu Styles--*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ADD8E6;
  text-decoration: Lato
}


nav ul {
  display: flex;
  flex-direction: row;
  color: #ADD8E6;
  justify-content: space-around;
  padding: 14px 16px;
  text-decoration: Lato;
  margin-left: auto;
  margin-right: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3c3c3c;
}
nav a:link, nav a:visited {
  color: #D0D0D0;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin: 2em auto;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
header .small {
  margin-top: 1em;
  font-size: 16px
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: 2em auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
    font-size: 14px
}
.pagination {
  margin: 2em auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
a.button {
  border: 1px solid #888;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #888;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #444;
  text-decoration: none;
  color: #222;
}
.dropcap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
